.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 25px;
}

.title {
  text-align: center;
}

.section-wrapper {
  max-width: 720px;
  width: 100%;
}